@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 0.5rem 5%; /* Responsive padding */
  width: 86%;
  border-bottom: 1px solid #F2F4F7; /* Added missing semicolon */
}

#navh1 {
  margin-right: 2rem; /* Add margin to the right of the h1 */
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons > button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Remove button color */
  font-family: "Inter", sans-serif !important;
  font-size: 20px !important; /* Increased font size */
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #475467;
}
